.accountForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top : 3%;
}

.submitButton{
    display: flex;
    width: 150px;
    margin-left : 45%
}

.informationTable{
    margin-top: 40px;
    width : 1100px;
}

.report{
    width : 400px;
}

.logoutContainer{
    display : flex;
    justify-content: flex-end;
    margin-top: 1%;
    margin-right: 2%;
}

.logoutButton{
    width : 100px
}