.driverForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top : 3%;
}

.submitButton{
    display: flex;
    width: 150px;
    margin-left : 45%
}

.tourTable{
    margin-top: 40px;
    width : 1100px;
}