html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.submitContainer{
  display: flex;
  justify-content: center;
}

.submitButton{
  width : 150px;
}

.rangePicker{
  width : 100%;
}

.datePicker{
  width : 100%;
}

.formContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.loginContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top : 15%;
}

.tourTable{
  margin-top: 40px;
  width : 800px;
}

.loginButton{
  width: 120px;
}

.signButton{
  width: 120px;
}


.report{
  width : 400px;
}

.loginButtons{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.logoutButton{
  width : 100px
}

.logoutContainer{
  display : flex;
  justify-content: flex-end;
  margin-top: 1%;
  margin-right: 2%;
}

.informationTable{
  margin-top: 40px;
}