.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top : 15%;
}

.loginButton{
    width: 100px;
}

.signButton{
    width: 100px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}